.types{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px auto;
    @media (max-width:352px) {
        align-items: center;
     }
    
    &-h{
        @include fnt($txt-clr, $fml:'Arial',$weight:700,$size:35px,$height:40px);
        margin: 20px 0;

        @media (max-width:702px) {
            font-size: 22px;
            margin: 10px auto;
        }
        @media (max-width:502px) {
            font-size: 19px;
            margin: 10px auto;
        }
    }

    &-nav{
        
        ul{
            list-style: none;
            // display:inline-block;
            margin: 0;
            padding: 0;
            margin-left: 5px;
            li{
                
                font-family: 'Arial';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 23px;
                display:inline-block;
                height: 40px;
                margin-right: 20px;
                @media (max-width:602px) {
                    font-weight: 600;
                    font-size: 15px;
                    margin-left:20px;
                 }
                a {
                    // display: inline-block;
                    // color: #000;
                    text-decoration: none;
                    &::after {
                        content: '';
                        display: block;
                        width: 0;
                        height: 1px;
                        background: #000;
                        transition: width .4s ease-in;
                      }
                      
                      &:hover::after {
                        width: 100%;
                        height: 2px;
                        margin-top: 4px;

                        // border: 2px solid #000000;
                      }
                  }

            }
            @media (max-width:600px) {
                display: flex;
                flex-direction: column;
             }
        }

    }

    &-content{
        // display: flex;
        // flex-direction: row;
        // flex-wrap: wrap;
        // justify-content: center;
        max-width: 1200px;
        
        
        @media (max-width:650px) {
            max-width:540px;
            // max-width:80vw;
            margin: 5px 3px;
         }

         @media (max-width:502px) {
            // max-width: 300px;
            margin: 5px auto;
            max-width:70vw;
         }
        &-txt{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 10px;
            h1{
                font-family: 'Arial';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 25px;
                color: #000000;
                @media (max-width:522px) {
                    font-size: 14px;
                 }
            }
            p{
                margin: 0;
                padding: 0;
                &:nth-of-type(1){
                    font-family: 'Arial';
                    font-style: normal;
                    font-weight: 400;
                    font-size:12px;
                    line-height: 23px;
                    color: #272727;

                    
                }
                &:last-child{                      
                    font-family: 'Arial';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 23px;
                    color: #000000;
                    @media (max-width:522px) {
                        font-size: 14px;
                     }
                    }
                .bth{
                    height: 35px;
                    width: 120px;
                    margin-left: 20px;
                    background: transparent;
                    border: 1px solid #1A1A1A;
                    &:hover{
                    background: #1A1A1A;
                    color:#FFFFFF;
                    }
                    @media (max-width:522px) {
                        font-size: 14px;
                        height: 30px;
                        width: 100px;
                     }
                   
                }
                
            }
            h2{
                font-family: 'Arial';
                font-style: normal;
                font-weight: 700;
                font-size: 22px;
                line-height: 25px;   
                color: #000000;
            }
        }

    }

    &-card{
        position: relative;
        width: 100%;
        background: #FFFFFF;
        border: 1px solid #A4A4A4;
        border-radius: 5px;
        margin:5px;

        &:hover{
            box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.23);
        }


        @media (min-width:992px) {
            flex: 0 0 24%;
            max-width: 24%;
        }
       

        img{
            width: 70%;
            height: auto;
            margin: 10px 15px;
        }
    }
}